
<!doctype html>
<html lang="en">
  <head>
   <title>Admin Panel</title>

    <style>
      .centered {
        text-align: center;
      }
      .forms{
        box-sizing: border-box;
      }
      .button{
        color: rgb(255, 255, 255);
        background-color: rgb(83, 83, 247);
      }
      button:hover{
        background-color: blue;
      }
  
    </style>

  </head>

  <body class = "centered">
    <header>
      <h1>Admin Login</h1> 
    </header>

    <main>
      <form action="/dashboard" method="post">
        <div>
          <label>User Name</label>
          <input type="text" id="uname" name="uname" placeholder="User Name" required autofocus>
        </div>
        <p></p>
        <div class = "forms">
          <label>Password</label>
          <input type="password" id="pass" name="pass" placeholder="Password" required autofocus>
        </div>
        <p></p>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="button" type="submit">Sign in</button>
      </form>
    </main>

    <footer>
      <p class="mt-5 mb-3 text-muted">copyrigth &#169 {{params['blog_name'] }}</p>
    </footer>
    


 </body>
</html>
